*.log
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/mu-plugins/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php

/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz

RDA/*/config/development
RDA/*/logs/log-*.php
!*/logs/index.html
RDA/*/cache/*
!*/cache/index.html
!*/cache/.htaccess

RDA/user_guide_src/build/*
RDA/user_guide_src/cilexer/build/*
RDA/user_guide_src/cilexer/dist/*
RDA/user_guide_src/cilexer/pycilexer.egg-info/*

#codeigniter 3
RDA/application/logs/*
!application/logs/index.html
!application/logs/.htaccess
RDA//vendor/
